.DS_Store
*.csproj
*.sln
*.userprefs
Library
Temp
UnityVS*
AssetStoreTools*
obj
Generated
proj/Assets/StreamingAssets/JavaScript/GeneratedFiles.*
proj/Assets/StreamingAssets/JavaScript/SharpKitGeneratedFiles.*
proj/Assets/JSBinding/Source/CSGenerateRegister.cs
